<!DOCTYPE html>
<html lang="en" ng-app="datepicker">

<head>
		<meta charset="UTF-8">
		<title>Datepicker</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		<script src="js/main.js"></script>
</head>
<body ng-controller="mainController as date">
	<div class="wrapper">
		<div class="main-date">{{date.mainDate}}</div>
		<div class="datapicker clearfix">
			<form action="#">
				<input type="text" class="" value="{{date.selectedDateTextFormat1}}" disabled>
				<input type="text" class="time" value="{{date.dateNow | date : 'HH:mm'}}" ng-model="date.time" ng-pattern="/([01]\d|2[0-3]):([0-5]\d)/" ng-required="true">
			</form>
			<div class="controls">
				<button class="prev" ng-click="date.changeMonth('-') "></button>
				<button class="next" ng-click="date.changeMonth('+') "></button>
				<div class="current-month">{{date.currentYear + ', ' + date.months[date.currentMonth][0]}}</div>
			</div>
			<table>
				<thead>
					<th ng-repeat="day in date.days">{{day}}</th>
				</thead>
				<tbody>
					<tr ng-repeat="week in date.weeks track by $index">
						<td ng-repeat="d in week track by $index" ng-click="date.selectDate($event, d)" ng-class="{'selected-date' : date.showSelectedDate(d)}">{{d}}</td>
					</tr>
				</tbody>
			</table>
			<button class="save" ng-click="date.setMainDate()"></button>
		</div>
	</div>
</body>

</html>
